html,body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  /* height: 100%;
  min-height: 100%; */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mainContainer {
  display: flex;
  flex: 1;
  background-color: lightgray;
}

.bottomFooter {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  height: 70px;
}

.stageLeft {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.topBar {
  height: 70px;
  background-color: white;
  flex: 0;
  border-bottom: 1px solid gray;
}

.topBar ul {
  display: flex;
  width: 100%;
  padding: 5px;
}

.topBar li {
  flex: 1;
}

.stageRight {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.participantList, .chatLog {
  flex: 1;
}

.stageLeft img {
  width: 50px;
  border-radius: 25px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.participantList {
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

.participantList li {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.participantList h5 {
  color: black;
  font-weight: bold;
}

.participantList h6 {
  color: gray;
  font-weight: 100;
}


.chatLog {
  background-color: white;
  flex: 1;
  border-right: 1px solid gray;
}

.topBar.right {
  flex: 0;
  border-left: 1px solid gray;
}

.stageLog {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.personChat {
  text-align: center;
}

.personChatMessage {
  text-align: left;
  display: flex;
}

.chatLog li {
  margin-top: 15px;
}